<nav [ngClass]="{ 'nav-desp': desplegarStatus }">
  <div class="container" [ngClass]="{ 'container-desp': desplegarStatus }">
    <!-- logo -->
    <div class="logo" routerLink="">
      <img class="firma" src="assets/firma/firma-blanca.png" alt="" srcset="" />
    </div>

    <!-- buttons -->
    <div class="buttons-container" [ngClass]="{ desplegar: desplegarStatus }">
      <div id="lateral-bar" class="buttons">
        <button
          id="portfolio"
          class="btn"
          routerLink=""
          routerLinkActive="btn-active"
          (click)="close()"
        >
          portfolio
        </button>
        <button (click)="close()" id="servicios" class="btn">servicios</button>
        <button (click)="close()" id="formacion" class="btn">formacion</button>
        <button (click)="close()" id="sobre-mi" class="btn">sobre mi</button>
        <button (click)="close()" id="contacto" class="btn">contacto</button>
      </div>
    </div>

    <!-- close-icon-menu -->
    <div (click)="desplegar()" id="close" class="close">
      <img src="assets/icons/menu.svg" alt="" srcset="" />
    </div>
  </div>
</nav>
