.icons {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 30px;
  background-color: #f1f1f171;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 5px 10px rgb(80, 80, 80);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon {
  width: 20px;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .icons {
    top: 0.4vw;
    right: 0.4vw;
    width: 18vw;
    height: 5vw;
    border-radius: 4vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .edit-icon {
    width: 20%;
    height: 100%;
    cursor: pointer;
  }
}
