.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

.container h1 {
  text-align: center;
  font-weight: 100;
}

.container-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.vertical {
  position: relative;
  width: 50%;
  height: 37.5vw;
  background-size: cover;
}

.horizontal {
  position: relative;
  width: 100%;
  height: 33.3vw;
  background-size: cover;
}

.imagePreview {
  width: 100%;
}

@media (max-width: 800px) {
  .container-gallery {
    width: 95vw;
  }

  .container h1 {
    font-size: 5vw;
  }

  .vertical {
    height: 71.25vw;
  }

  .horizontal {
    width: 100%;
    height: 63vw;
  }
}
